<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <settings>
    <!-- 컬럼이름을 CAMEL표기법으로 변환 해서 매핑 해주는 설정 -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <!-- 환경설정 - 서버 접속정보 ip, port, database이름, 계정정보, driver-->
  <environments default="development">
    <environment id="development">
    
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://43.201.71.210:3306/HR?serverTimezone=Asia/Seoul&amp;characterEncoding=UTF-8"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
      </dataSource>
    </environment>
  </environments>

  <!-- 사용할 Mapper 지정 -->
  <!-- 설정을 직접 xml설정파일에 직접 작성 
      -> 어노테이션 방식으로 변환 
        인터페이스를 만들고 @mapper 어노테이션을 이용
  -->
  <mappers>
    <mapper resource="org/mybatis/example/EmpMapper.xml"/>
    
  </mappers>
</configuration>